<mat-card class="cus-card mt10">
  <div class="container text-center">
    <h1>All Quizzes</h1>
  </div>
</mat-card>
<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4" *ngFor="let item of quizzes" >

        <mat-card class="mt10" >
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{item.title}}</mat-card-title>
            <mat-card-subtitle>{{item.description}}</mat-card-subtitle>
          </mat-card-header>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <button mat-raised-button color="primary">View</button>

            <button mat-stroked-button color="accent">Qs:{{item.numberOfQuestions}}</button>
            <button mat-stroked-button color="warn">M.M:{{item.maxMarks}}</button>
            <button mat-raised-button color="warn">Start</button>
          </mat-card-actions>



        </mat-card>




      </div>

      <mat-card *ngIf="quizCheck" class="mt10 w100" >
       <div class="container text-center">
        <h2>no data under this category</h2>
       </div>
      </mat-card>


    </div>
  </div>
</div>
