<mat-card class="cus-card mt10">
  <div class="container text-center">
    <h1>All Quizzes</h1>
  </div>
</mat-card>
<div class="bootstrap-wrapper">
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-4" >

        <mat-card class="mt10">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>Title</mat-card-title>
            <mat-card-subtitle>Dog Breed</mat-card-subtitle>
          </mat-card-header>



        </mat-card>

      </div>

    </div>
  </div>
</div>
