<mat-card class="cus-card mt10">
  <h1>Questions of {{quezTitle}}</h1>
</mat-card>

<mat-card  *ngFor="let item of questions; let i=index" class="mt10">
  <mat-card-content>
    <h2>Q{{i+1}}. {{item.content}}</h2>
    <div class="row">
      <div class="col-md-6">
        A) {{item.option1}}
      </div>
      <div class="col-md-6">
        B) {{item.option2}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        C) {{item.option3}}
      </div>
      <div class="col-md-6">
        D) {{item.option4}}
      </div>
    </div>
    <mat-divider class="mt10"></mat-divider>
    <p class="mt10">Correct Answer: {{item.answer}} </p>
      </mat-card-content>
</mat-card>
