
<mat-toolbar color="primary" >
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" class="icon-box">
     <mat-icon >menu</mat-icon>
   </button>
   <span routerLink="/" class="span">Examiner</span>
   <span class="example-spacer"></span>
   <button mat-icon-button class="mr20 icon-box" routerLink="/signin" *ngIf="!userLogin()">
    <mat-icon >login</mat-icon>
    <small>login</small>
   </button>

   <button mat-icon-button class="mr20 icon-box" (click)="onLogout()" *ngIf="userLogin()">
    <mat-icon >logout</mat-icon>
    <small>logout</small>
   </button>

   <button routerLink="/signup" mat-icon-button class="mr20 icon-box" *ngIf="!userLogin()">
    <mat-icon>person_add</mat-icon>
    <small>Signup</small>
   </button>
 </mat-toolbar>
